# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\react-js-docker-circleci\react-docker-circleci\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
